.wrapper__service__inner__item{
    padding: 10px;
    border-radius: 1rem;
    border: 1px solid #eee;
    background-color: var(--white);
 
    &__image{
        height: 12rem;
        background-color: azure;
        border-radius: 1rem;
        img{

            border-radius: 1rem;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content{
        padding: 10px;

        h3{
            font-size: 1rem;
            font-size: 1rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        p{
            font-size: 0.9rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        a{
            margin-top: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            padding: 0.5em 2rem;
            background-color: #FEE140;
            background-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
            border-radius: 1.5rem;
            color: var(--white);
            font-size: 1rem;
        }
    }
  }
  
  @media screen and (min-width: 768px){
        .wrapper__service__inner__item{

            &__content{

            }
        }
  }