.wrapper__company{
    display: flex;
    justify-content: center;
    // margin-top: 100px;

    &__inner{
        display: flex;
        width: 62%;
        //
        background: transparent;
        overflow: hidden;
        justify-content: center;
        align-items: center;

        &__image{
            flex: 1;
         
           
    
            //
            background-size: cover;
            background-position: center center;
            background-repeat: repeat;
            background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22b%22 r=%22100%25%22 cx=%2242%25%22 cy=%2235%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23FBDA61%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23FF5ACD%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M769.5 684Q619 868 393 805T154 490.5q-13-251.5 217.5-277T761 344q159 156 8.5 340Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M769.5 684Q619 868 393 805T154 490.5q-13-251.5 217.5-277T761 344q159 156 8.5 340Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
        
                    

            &__frame{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20rem;
                height: 20rem;
                margin-left:70px;
                // background-color: #FEE140;
                // background-image: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
                // border-radius: 50%;

    
              
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    // transform: translateX(4rem);
                    animation: move 5s infinite;
                }
            }
        }
        &__right{
            flex: 1;
                &__title{
                    h1{
                        font-size: 2.4rem;
                        background: -webkit-linear-gradient(var(--color-primary), var(--color-secondary));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        -webkit-text-stroke: 0.03rem var(--color-secondary);
                        text-transform: uppercase;
                        padding-bottom: 1rem;
                    }
                    p{
                        font-size: 1rem;
                        line-height: 2rem;
                        padding-bottom: 1rem;

                    }
                }
                &__logo{
                    display: flex;
                    gap:0.7rem;
                    &__ionicon{
                        color: #5b5a5a;
                        font-size: 1.5rem;
                        transition: 0.5s all ;
                        &:hover{
                            color: var(--color-primary);

                        }
                    }
                }
        }
    }
   
}
@keyframes move{
    0%{
        transform: translateY(-5%);

    }
    50%{
        transform: translateY(5%);

    }
    100%{
        transform: translateY(-5%);

    }

}

@media screen and (max-width:768px){
    .wrapper__company{
    margin-top: 700px;
     

        &__inner{
            display: grid;
            flex-direction: column;
            width: 85%;
            &__image{
                width: 12rem;
                height: 12rem;
                background-image: none;
                &__frame{
                    margin-left: 0;
                }
            }
            &__right{
                &__title{
                    text-align: center;
                    padding-top: 120px;
                    line-height: 1.5rem;

                     h1{
                        font-size: 2rem;
                     }
                     p{
                        font-size: 1rem;
                     }
                }
                &__logo{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}