.wrapper__language{
    margin-top: 100px;
    height: 50vh;
    &__inner{
        width: 70%;
        margin: auto;
        &__title{

        }
        &__content{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            gap: 1rem;
        }
    }

    
}