:root{

    //color
    --white: #fff;
    //background-color
    --color-theme-primary:#007aff;
    --color-theme-secondary: #e869d7;
    --color-theme-primary1:#007bff5d;
    --color-theme-secondary1: #e869d758;

    //button-text
    --color-primary: #FEE140;
    --color-secondary: #FA709A;

    //transition
    --transition-primary: 0.25s ;
    
 // box-shadow
 --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
//border-radius
--border-radius-05: 0.5rem;
;
}