@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Pacifico&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background: var(--white);

}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));

    border-radius: 1rem;
}

body{
     font-family: 'Open Sans', sans-serif;
     font-size: 1rem;
     overflow-x: hidden;
}
a{
    color: #000;
}

@media screen and (max-width: 768px) {
    ::-webkit-scrollbar{
        width: 0rem;
    }
    
}